.App {
  height: 100%;
  overflow: hidden;
}
.headerDrag{
  height: 54px;
  background: #f6f6f6;
  display: flex;
}
.search {
  width: 250px;
  height: 100%;
  display: flex;
  align-items: center;
}

.sysTool {
  margin-left: 15px;
}
.sysTool span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  font-size: 12px;
  margin-right: 8px;
  text-align: center;
  line-height: 12px;
  overflow: hidden;
}

.sysTool span img{
  width: 8px;
  height: 8px;
  display: none;
  margin: 2px;
}

.sysTool:hover img{
  display: block;
}

.sysTool span:nth-of-type(1) {
  background: #fa6261;
}


.sysTool span:nth-of-type(2) {
  background: #fbbb4d;
}


.sysTool span:nth-of-type(3) {
  background: #3dc651;
}

.searinput {

}

.searinput input{
  border: none;
  outline: none;
  height: 20px;
  width: 170px;
  border-radius: 20px;
  text-indent: 12px;
}

.tab {
  height: 100%;
  flex: 1;
  display: flex;
}

.tab-button {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
}

.tab-button span {
  margin-left: 20px;
}

.tab-button span.active i{
  color: #32b9ef;
}

.tab-button span i{
  color: #888a92;
  font-size: 24px;
}

.tab-button span:nth-of-type(1) {
  margin-left: 20%;
}

.avarter {
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avarter img {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.container {
  height: calc(100% - 54px);
  display: flex;
}

.connetBox {
  width: 220px;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #f6f7f9;
}
.contentBox {
  flex: 1;
}

.listItem {
  width: 100%;
  height: 70px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.listItem.active {
  background: #f3f3f3
}

.listItem:hover {
  background: #f3f3f3
}

.listItem img {
  width: 34px;
  height: 34px;
  border-radius: 30px;
  margin-left: 16px;
  margin-right: 6px;
}

.nameBox {
  flex: 1;
  height: 34px;
}

.nameBox h3 {
  font-size: 14px;
  font-weight: normal;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nameBox p {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.showContent {
  height: 70%;
  overflow-y: scroll;
  overflow-x: hidden;
  
  border-bottom: 1px solid #f6f7f9;
}
.showContent::-webkit-scrollbar { 
  width: 0 !important 
}
.chatItem {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 10px;
}

.chatself {
  justify-content: flex-end;
}

.chatItem .chatAvater {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin-top: 10px;
}

.chatContent {
  margin-left: 10px;
  position: relative;
}

.chatself .chatContent {
  margin-left: 0px;
  margin-right: 10px;
}

.chatName {
  font-weight: normal;
  color: #9ea9cc;
  font-size: 12px;
  margin-bottom: 5px;
}
.chatself .chatName {
  text-align: right;
}
.sentContet {
  background: #f3f3f3;
  font-size: 14px;
  padding: 10px;
  border-radius: 4px;
  display: inline-block;
  word-break: break-all;
  box-sizing: border-box;
  position: relative;
}

.chatself .sentSelfContet {
  background: #dbf4fc;
}

.chatContent::after {
  content: '';
  position: absolute;
  top: 27px;
  left: -9px;
  width: 0px;
  height: 0px;
  border-width: 0px 13px 14px 0px;
  border-style: solid;
  border-color: transparent #f3f3f3 transparent transparent;
}
.chatself .chatContent::after {
  display: none
}
.chatself .sentSelfContet::after {
  content: '';
  position: absolute;
  top: 6px;
  right: -9px;
  width: 0px;
  height: 0px;
  border-width: 0px 0px 14px 13px;
  border-style: solid;
  border-color: transparent transparent transparent #dbf4fc;
}